<!-- Section Banner Text + Image -->
{%if section.settings.banner_dinamic_font %}
{% assign header_font = section.settings.banner_dinamic_font%}
{%endif%}
{%if section.settings.banner_dinamic_color %} 
{%assign banner_color = section.settings.banner_dinamic_color%} 
{%endif%}
{%if section.settings.banner_dinamic_position %} 
{%assign content_position = section.settings.banner_dinamic_position%}
{%endif%}

<div class="banner-dinamic__container" id="">
   {% if section.settings.banner_image_url != blank %}
        <div class="banner-dinamic_image">
            <img
               class="banner-img"
               src="{{section.settings.banner_image_url | img_url: 'master'}}"
             />
        </div>
   {%else%}
        <div class="placeholder-background">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
   {% endif %}
    <div class="banner-dinamic_content">
        {%if section.settings.banner_dinamic_title %}
            <h3 class="title">{{section.settings.banner_dinamic_title}}</h3>
        {%endif%}
        {%if section.settings.banner_dinamic_text %}
            {{section.settings.banner_dinamic_text}}
        {%endif%}
        {%if section.settings.banner_dinamic_button != blank  %}
            <a href="{{section.settings.banner_dinamic_link}}" class="btn btn-banner">{{section.settings.banner_dinamic_button}}</a>
        {%endif%} 
    </div>

</div>
{% schema %}
{
    "name": "Banner Dinamic",
    "settings": [{
            "type": "text",
            "id": "banner_dinamic_title",
            "label": "Banner Title",
            "default": "Banner title"
        },
        {
            "type": "richtext",
            "id": "banner_dinamic_text",
            "label": "Banner Text"
        },
        {
            "type": "font_picker",
            "id": "banner_dinamic_font",
            "label": "Banner Text Font",
            "default": "helvetica_n4"
        },
        {
            "type": "range",
            "id": "banner_dinamic_font_size",
            "min": 12,
            "max": 80,
            "step": 2,
            "unit": "px",
            "label": "Font size",
            "default": 16
        },
        {
            "type": "range",
            "id": "banner_dinamic_font_weight",
            "min": 300,
            "max": 900,
            "step": 100,
            "unit": "px",
            "label": "Font weight",
            "default": 500
        },
        {
            "type": "color",
            "id": "banner_dinamic_color",
            "label": "Color Picker",
            "default": "#333333"
        },
        {
            "type": "text",
            "id": "banner_dinamic_button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "banner_dinamic_link",
            "label": "Button link"
        },
        {
            "type": "image_picker",
            "id": "banner_image_url",
            "label": "Banner Image"
        },
        {
           "type": "radio",
           "id": "banner_dinamic_position",
           "label": "Banner position",
           "options": [
             { "value": "left", "label": "Align Left" },
             { "value": "right", "label": "Align Right" },
             { "value": "center", "label": "Align Center" }
           ],
           "default":   "left"
        }
    ],
    "presets": [
        {
          "name": "Banner Dinamic",
          "category": "Image"
        }
    ],
    "blocks": []
}
{% endschema %}
{%style%}
 .banner-dinamic__container .banner-dinamic_content {
           color: {{banner_color}};
           font-size: {%if section.settings.banner_dinamic_font_size %} {{section.settings.banner_dinamic_font_size}}px {%endif%};
           font-weight: {%if section.settings.banner_dinamic_font_weight %} {{section.settings.banner_dinamic_font_weight}} {%endif%};
           font-family: {{ header_font.family }}, {{ header_font.fallback_families }};
  }
   .banner-dinamic__container .banner-dinamic_content .title,
   .banner-dinamic__container .banner-dinamic_content p,
   .banner-dinamic__container .banner-dinamic_content a{
        font-family: {{ header_font.family }}, {{ header_font.fallback_families }};
         color: {{banner_color}};
  }
 .banner-dinamic_content{
       position:absolute;
       {%case content_position%}
          {%when 'left'%}
            top:calc(100%/2);
            left: 40px;
          {%when 'right' %}
            top:calc(100%/2);
            right: 40px;
          {%else%}
            top:calc(100%/2);
            right: auto;
            left: calc(100%/2);
       {%endcase%}
    }
{%endstyle%}
